# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform variable files
*.tfvars.backup

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
